# Eclipse
.classpath
.project
.settings
bin/
src/test/resources

# Intellij
.idea/
*.iml
*.ipr
*.iws
*.uml
out/

# Java
*.class

# Mac
.DS_Store

# Maven
release.properties
*.releaseBackup
settings.xml
target/

# Package Files
*.ear
*.jar
*.war

# Sublime
*.sublime*

